{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею(Только учусь)</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        SQLite
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Текст страницы "Технологии"</p><br>
    <p>
        На данный момент я только учусь. За время обучения мы познакомились с
        Python, SQLite, Django. Нужно конечно больше времени для погружения,
        но я срараюсь и потихоньку двигаюсь к своей цели
    </p>
  </article>
</div>
{% endblock %}